.kaufman__triangle {
  position: absolute;
  top: -0px;
  right: -210px;
  height: 877px;
  width: 877px;
  z-index: 0;
  display: flex;
  background-size: 100%;
  background-image: url("../../../images/kaufman-triangle.svg");
  animation: rotation 40s linear 1;
}
