.khan__buy-link {
  margin: 0 0 auto 0;
  color: #2f80ed;
  text-decoration: none;
  font-size: 30px;
  line-height: 42px;
  font-weight: normal;
  opacity: 1;
  transition: 0.25s ease-in-out;
  white-space: nowrap;
}

.khan__buy-link:hover {
  opacity: 0.5;
  transition: 0.25s ease-in-out;
}
